@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Admim Panele Hoşgeldiniz</h1>
    <p> Kumar Yuva YIKAR.....</p>
</div>
 *@
@{
    ViewData["Title"] = "Admin Paneli";
}
<div class="container text-center">
    <div class="row">
        <div class="col">
            <img src="~/dur_logo.jpg" alt="Admin Logo" class="img-fluid mt-5" style="max-width: 200px;">
            <p style="color: red; font-size: 24px;">DUR BET</p>
            <h1 class="display-4 mt-3">Admin Paneline Hoşgeldiniz</h1>
            <p class="lead">Kumar Yuva YIKAR.....</p>
        </div>
    </div>
</div>
